<p>
  <b>Name:</b>
  <%= @list.name %>
</p>

<h2>Items</h2>
<%= render "list_items/list_item" %>

<h2>Add an item:</h2>
<%= render "list_items/form" %>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>