<h1>My Profile</h1>

<ul>
	<li>Your username is <%= @user.username %></li>
	<li>Your email is <%= @user.email %></li>
	<li>You signed up on <%= @user.created_at %></li>
	<li>You've logged in <%= pluralize(@user.login_count, "time") %></li>
	<li>You currently have <%= pluralize(@user.lists.count, "list") %></li>
</ul>

<%= link_to 'Edit Profile', edit_user_path(@user) %> or
<%= link_to 'Go Back', :back %>
