<div id="accountBlurb">
	<strong>+</strong> My username is <strong><%= @user.username %></strong>. <br />
	<strong>+</strong> My email is <strong><%= @user.email %></strong>.<br />
	<strong>+</strong>  So far, I have created <strong><%= pluralize(@user.lists.count, "list") %></strong>.<br />
	<strong>+</strong>  I signed up here on <strong><%= @user.created_at %></strong>
	and have logged in <strong><%= pluralize(@user.login_count, "time") %></strong>.
</div>

<center>
<%= link_to 'Edit Account', edit_user_path(@user) %>
</center>