<!DOCTYPE html>
<html>
	<head>
		<title>Simple Todo Lists</title>
		<meta name="description" content="Todo Listy is an extremely simple web application that allows you to store todo lists and access them from anywhere, anytime.">
		<meta name="keywords" content="online, todo, list, todo lists, todo list, save, quick, simple, robert himler">
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="logo"><%= link_to(image_tag(("logo.png"), :width => "308", :height => "88"), root_path) %></div>
		<div class="wrapper">
			<div id="nav">
			<%- if current_user -%>
				<%= link_to_unless_current "My Lists", lists_path %> | 
				<%= link_to_unless_current "My Profile", user_path(current_user.id) %> |
				<%= link_to_unless_current "Logout", :logout%>
			<%- else -%>
				<%= link_to_unless_current "Register", new_user_path %> |
				<%= link_to_unless_current "Login", :login %>
			<%- end -%>
			</div>
			<%- unless notice.blank? -%>
			<div class="notice"><%= notice %></div>
			<%- end -%>
			<%= yield %>
		</div><!--wrapper-->
		<div id="footer">
			&copy; 2012 &middot; <a href="http://www.roberthimler.com">Robert Himler</a> &middot; All rights reserved.
		</div>
		<%= render "shared/analytics" %>
	</body>
</html>
