<!DOCTYPE html>
<html>
	<head>
	  <title>Todo</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	  <%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="logo"><%= link_to(image_tag(("logo.png"), :width => "308", :height => "88"), root_path) %></div>
		<div class="wrapper">
			<div id="nav">
				<% if current_user %>
					<%= link_to_unless_current "My Lists", lists_path %> | 
					<%= link_to_unless_current "My Profile", user_path(current_user.id) %> |
					<%= link_to_unless_current "Logout", :logout%>
				<% else %>
					<%= link_to_unless_current "Register", new_user_path %> |
					<%= link_to_unless_current "Login", :login %>
				<% end %>
			</div>
			<% unless notice.blank? %>
			<div class="notice"><%= notice %></div>
			<% end %>
			<%= yield %>
		</div><!--wrapper-->
		<%= render "shared/analytics" %>
	</body>
</html>
